@import "tailwindcss";

@theme {
  --button-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --dashed-background-90: linear-gradient(90deg, #ffffff1a 50%, transparent 50%);
  --dashed-background-180: linear-gradient(180deg, #ffffff1a 50%, transparent 50%);
  @keyframes appear {
    0%: {
      opacity: 0;
    }
    100%: {
      opacity: 1;
    }
  }
  @keyframes colorShift {
    0% {
      border-color: #58f1ff;
    }
    25% {
      border-color: #5f83f0;
    }
    50% {
      border-color: #e54bda;
    }
    75% {
      border-color: #ff8d29;
    }
    100% {
      border-color: #58f1ff;
    }
  }
  @keyframes radiate {
    0% {
      opacity: 1;
      width: 80%;
	  height: 80%;
	  top: calc(2px + 10%);
    }
    100% {
      opacity: 0;
      width: 150%;
	  height: 150%;
	  top: calc(2px - 25%);
    }
  }
  @keyframes marquee-left {
	from {
		transform: translateX(0%);
	} to {
		transform: translateX(calc(-100% * 17));
	}
  }
  @keyframes marquee-right {
	from {
		transform: translateX(0%);
	} to {
		transform: translateX(calc(-100% * 17));
	}
  }
}

:root {
  --background: #0d1014;
  --tw-ease: 0.7s;
  --font-mono: 'Roboto Mono', 'Courier New', 'Inconsolata', 'Source Code Pro', 'Menlo', 'Consolas', monospace;
}

@layer base {
  body {
    color: var(--foreground);
    color: #ffffff;
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
  }

  h1 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    margin: 5px 0px 5px 0px;
  }

  h2 {
    color: var(--clr-white);
    font-size: var(--fs-h2);
    font-weight: var(--fw-h2);
    margin: 0px;
  }

  h3 {
    color: var(--clr-white);
    font-size: var(--fs-h3);
    font-weight: var(--fw-h3);
    margin: 0px;
  }

  p {
    color: var(--clr-white);
    font-size: var(--fs-p);
    font-weight: var(--fw-p);
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.dashed-box {
  background-image: linear-gradient(90deg, #ffffff1a 50%, transparent 50%),
    linear-gradient(90deg, #ffffff1a 50%, transparent 50%),
    linear-gradient(180deg, #ffffff1a 50%, transparent 50%),
    linear-gradient(180deg, #ffffff1a 50%, transparent 50%);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 18px 2px, 18px 2px, 2px 18px, 2px 18px;
}

.animate-appear {
  animation: appear 0.7s ease-in-out;
}

.video-play-radiate {
	opacity: 0;
	background-color: transparent;
	border-color: white;
	border-radius: 96px;
	border-width: 8px;
}

.secondary-button:hover > .secondary-button-bg {
  transform: translate(100%, 0);
}

.video-container:hover .video-play-border {
  animation: colorShift 4s infinite;
  opacity: 1;
}

.video-container:hover .video-play-button {
  opacity: 1;
}

.video-container:hover .video-play-radiate {
	animation: radiate 1s infinite 1s;
}

.marquee-left-item {
	animation: marquee-left 130s infinite;
	animation-timing-function: linear;
}

.marquee-right-item {
	animation: marquee-right 130s infinite;
	animation-timing-function: linear;
}